# Dependencies
/node_modules

# Compiled output
/dist/
/release/
/out/
/Electron Framework.framework/

# Electron builder
*.blockmap
*.dmg
*.exe
*.AppImage
*.snap
*.zip
*.asar
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
